
<div class="container">
  <form action="/action_page.php">
    <div class="form-group">
      <label for="email">svn:</label>
      <input type="email" class="form-control" [(ngModel)]="model.svnUrl" id="email" placeholder="EntersvnUrl" name="svn">
    </div>
    <div class="form-group">
      <label for="pwd">git:</label>
      <input type="text" class="form-control"  id="pwd" placeholder="Enter gitUrl"  [(ngModel)]="model.gitUrl" name="git">
    </div>
    <div class="form-group ">
  <label for="example-email-input" >Email:</label>
 
    <input class="form-control" type="email" value="bootstrap@example.com" id="example-email-input" [(ngModel)]="model.email" name="email" >
 
</div>
<textarea class="form-control" id="text" name="text" placeholder="trace of your script" rows="5"></textarea>
        <h6 class="pull-right" id="count_message"></h6>
    <div class="checkbox">
      <label><input type="checkbox" name="remember"> Remember me</label>
    </div>
    <p-growl [(value)]="msgs"></p-growl>
    <button type="submit" (click)="getStream()" (click)=" showInfo()"   label="Info" class=" ui-button-info btn btn-default">Submit</button>
  </form>
</div>


