<div class="form-signin">
  <h2 class="form-signin-heading">&nbsp;Connexion</h2>
  <label for="inputEmail" class="sr-only">username</label>
  <input [(ngModel)]="user.username"type="text" id="inputEmail" class="form-control" placeholder="Pseudo" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input [(ngModel)]="user.password"type="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <div class="checkbox"
  >
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button (click)="login()" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
</div>