footer {
  position:fixed;
 
  bottom:0px;
  height:auto;
  width:100%;
 background-color: #EEEEEE;
  border-bottom: 1px solid #F3F3F3;
  border-top: 1px solid #D6D6D6;
}
body {
  min-height: 2000px;
  padding-top: 70px;
}
